Shooju Simple Task

In [ ]:
import requests, zipfile, io
import pandas as pd
url = 'https://www.jodidata.org/_resources/files/downloads/gas-data/jodi_gas_csv_beta.zip'
r = requests.get(url, stream=True)
Arq_zip = zipfile.ZipFile(io.BytesIO(r.content))
Arq_zip.namelist()
Data  = pd.read_csv(Arq_zip.open(Arq_zip.namelist()[0]))
Data.head()

  REF_AREA TIME_PERIOD ENERGY_PRODUCT  ... UNIT_MEASURE OBS_VALUE  ASSESSMENT_CODE
0       AE     2015-01            LNG  ...           M3  756.9760                2
1       AE     2015-01            LNG  ...           M3    8.6278                2
2       AE     2015-01         NATGAS  ...           M3  756.9760                3
3       AE     2015-01         NATGAS  ...           M3    0.0000                2
4       AE     2015-01         NATGAS  ...           M3    8.6278                3

[5 rows x 7 columns]

In [ ]:
df = Data.to_json(orient = 'records', lines = True, date_format = 'iso')
print(df[0:200])

{"REF_AREA":"AE","TIME_PERIOD":"2015-01","ENERGY_PRODUCT":"LNG","FLOW_BREAKDOWN":"EXPLNG","UNIT_MEASURE":"M3","OBS_VALUE":756.976,"ASSESSMENT_CODE":2}
{"REF_AREA":"AE","TIME_PERIOD":"2015-01","ENERGY_

# Nova seção